@page
@using NewMenuPizza.DrikkevarerFolder
@using NewMenuPizza.PizzaFolderTest
@using NewMenuPizza.Services
@model NewMenuPizza.Pages.Menu.Index

@{
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>

<html>
<head>
    <title>Menu</title>
</head>
<body>
<h1>Menukort</h1>
<h2>Pizza</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Navn</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pizza p in Model.Pizzas)
            {
            <tr>
                <td>@p.Nummer</td>
                <td>@p.Navn</td>
                <td>@p.Pris Kroner</td>
            </tr>
            }
        </tbody>
    </table>
<h2>Drikkevarer</h2>
<table class="table table-hover">
    <tbody>
    @foreach (Drikkevarer d in Model.Drikkevarers)
    {
        <tr>
            <td>@d.Nummer</td>
            <td>@d.Name</td>
            <td>@d.Pris kr.</td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>