@page
@model NewMenuPizza.Pages.Kontrolpanel.Pizza.ÆndrePizzaModel
@{
}

<h1> Ændre Pizza</h1>


<form method="post">
    <div class="form-group>">
        <label>Navn</label><br />
        <span asp-validation-for="@Model.NyPizzaNavn" class="text-danger"></span><br />
        <input class="form-control" asp-for="@Model.NyPizzaNavn" /><br />

        <label>Pris</label><br />
        <input class="form-control" asp-for="@Model.NyPris" /><br />
        <span asp-validation-for="@Model.NyPris" class="text-danger"></span><br />

        <label>Pizza Nummer</label><br />
        <input class="form-control" asp-for="@Model.NytNummer" /><br />


        <input type="submit" value="Ændre Pizza" class="btn btn-success" />
    </div>
</form>


